

<div class="clickable-pills panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {{#each surveys }}
    <div class="survey-panel panel">
      <div class="panel-heading" role="tab" id="heading{{this.id}}">
        <h2 class="panel-title">
          <p class="single-survey-url" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{this.id}}" aria-expanded="true" aria-controls="collapseOne">
            {{ this.question }}
          </p>
        </h4>
      </div>
      <div id="collapse{{this.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{this.id}}">
        <div class="panel-body">
          <ul>
          {{#each this.options }}
            <li>{{this.text}} -- {{this.votes}}</li>
          {{/each}}
          </ul>
          <p>URL: <a href="{{this.url}}" target="_blank">{{this.url}}</a></p>
        </div>
        <button id="delete-survey" class="btn btn-danger delete-survey" data-target="{{ this.id }}"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
    {{/each}}
</div>
